<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>我的(runoob.com)</title>
</head>
<body bgcolor="pink">
    <center>
    <form action="/search" method="post">
        <br><br><br><br><br><br><br><br>
        &nbsp<input type="text" name="path_biao">&nbsp&nbsp&nbsp&nbsp <h>表的路劲</h><br><br>
        &nbsp<input type="text" name="path_tu">&nbsp&nbsp&nbsp&nbsp <h>图的路劲</h><br><br>
        <input type="number" name="count">&nbsp&nbsp&nbsp&nbsp <h>个数</h><br><br><br>

        <input type="submit" value="搜索">
        </center>
    </form>
</body>
</html>